[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"web3" = "==4.0.0b6"
tinyrpc = "==0.6"
flask = "*"
gevent = "*"


[dev-packages]

pytest = "*"


[requires]

python_version = "3.6"
